.cardCol {
    flex: 1 0 100px;
    box-sizing: border-box;
    margin: 1rem .25em;
    margin-bottom: 2em;
}

.card-body {
    min-height: 15rem;
}

.card-btn {
    color: #000000;
    min-width: 7rem;
    max-width: 7rem;
    /* min-height: 6rem; */
    /* max-height: 6rem; */
}

.link-btn {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.git-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.cardRow {
    display: flex;
    flex-wrap: wrap;
}